* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */
@font-face {
  font-family: "DauphinPlain";
  src: url("../fonts/Dauphin.woff") format("woff");
}

html,
body {
  overflow-x: hidden;
}

body {
  background: url("../img/top-image.png") no-repeat top center;
  background-size: contain;
  background-color: white;
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
}

body {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../img/top-image.png") no-repeat top center,
    url("../img/bottom-image.png") no-repeat bottom center;
  background-size: contain;
}

h1 {
  background-image: url("../img/logo.png");
  /* filter: drop-shadow(3px 3px 10px black); */
  border-radius: 50%;
  box-shadow: 4px 4px 13px black;
}

.outer-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  width: 85%;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;

  .languages {
    margin: 0;

    span {
      text-decoration: underline;
      font-size: 0.8rem;
    }
  }

  h2 {
    font-weight: 400;
    font-family: "DauphinPlain", Arial, sans-serif;
    text-align: center;
    font-size: 3rem;
    margin: 0;
  }

  blockquote {
    font-style: italic;
    font-size: 0.9rem;
    margin: 0.5rem;
  }

  blockquote + blockquote {
    font-size: 0.7rem;
    margin: 0.5rem;
  }

  .inner-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;

    h3 {
      font-weight: 400;
      font-family: "DauphinPlain", Arial, sans-serif;
      text-align: left;
      font-size: 1.3rem;
      margin: 0;
    }

    p {
      text-align: justify;
      font-size: 0.75rem;
    }

    .radio-section {
      display: flex;
      flex-direction: column;

      .radio-options {
        text-align: center;
      }

      button {
        width: auto;
        align-self: flex-end;
        margin: 0.5rem;
      }
    }
  }
}
